@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0077b6;
  --secondary: #caf0f8;
  --third: #48cae4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}
